---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "../router";
import Email from "@components/inputs/Email/Email.astro";
import Password from "@components/inputs/Password/Password.astro";
import Btn from "@components/buttons/Btn/Btn.astro";
---

<Layout title={ROUTER.login.display}>
  <main>
    <form>
      <Email />
      <Password />
      <Btn>Login</Btn>
    </form>
  </main>
</Layout>

<style>
  form {
    display: grid;
    gap: var(--md);
    justify-content: center;
  }
</style>
