---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "../router";
import Email from "@components/inputs/Email/Email.astro";
import Password from "@components/inputs/Password/Password.astro";
import Btn from "@components/buttons/Btn/Btn.astro";
---

<Layout title={ROUTER.login.display}>
  <main>
    <form id="login-form">
      <Email name={"email"} />
      <Password name={"password"} />
      <Btn id={"submit-login"}>Login</Btn>
    </form>
  </main>
</Layout>

<script>
  import { DOM } from "src/dom/dom";

  document.addEventListener("astro:page-load", () => {
    const form = DOM.select("login-form") as HTMLFormElement;

    form?.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(form);
      const email = formData.get("email");
      const password = formData.get("password");

      console.log(email, password);
    });
  });
</script>

<style>
  form {
    display: grid;
    gap: var(--md);
    justify-content: center;
  }
</style>
