---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "../_router";
import Email from "@components/inputs/Email/Email.astro";
import Btn from "@components/buttons/Btn/Btn.astro";
import Password from "@components/inputs/Password/Password.astro";
import css from "./_register.module.css";
---

<Layout title={ROUTER.register.display}>
  <main class={css.register}>
    <form id="register-form">
      <Email name={"email"} />
      <Password name={"password"} />
      <Btn>Registrarse</Btn>
    </form>
  </main>
</Layout>

<script>
  import "./_register";
</script>
