---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  err?: string;
}

const { placeholder = "contraseña", err, ...rest } = Astro.props;
---

<label class="password">
  <input
    {...rest}
    type="text"
    placeholder={placeholder}
    class:list={[{ inputErr: err }]}
  />
</label>

<style>
  .password {
    position: relative;

    input {
      padding: 0 var(--md);
      background-color: var(--bg-surf);
      border: var(--border);
      min-height: var(--h-input);
      border-radius: var(--md);
      color: inherit;
      width: 100%;

      &:focus {
        outline: var(--outline);
      }
    }

    .inputErr {
      outline: var(--err-outline);
    }
  }
</style>
