---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "../_router";
import Btn from "@components/buttons/Btn/Btn.astro";
import { isTokenOld } from "src/jwt/isTokenOld";
import { refreshToken } from "src/jwt/refreshToken";

const token = Astro.cookies.get("token")?.value;
if (!token) return Astro.redirect(ROUTER.login.href);
if (isTokenOld(token)) {
  try {
    const newToken = refreshToken(token);

    Astro.cookies.set("token", newToken, {
      httpOnly: true,
      secure: true,
      sameSite: "strict",
      maxAge: 7 * 24 * 60 * 60,
      path: "/",
    });
  } catch {
    Astro.cookies.set("token", "", {
      httpOnly: true,
      secure: true,
      sameSite: "strict",
      maxAge: 0,
      path: "/",
    });
    return Astro.redirect(ROUTER.login.href);
  }
}
---

<Layout title={ROUTER.account.display}>
  <main>
    <h1>Account</h1>
    <Btn id={"btn-logout"}>Cerrar sesión</Btn>
  </main>
</Layout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { DOM } from "src/dom/dom";
  import { ROUTER } from "../_router";

  document.addEventListener("astro:page-load", () => {
    const btn = DOM.select("btn-logout");
    btn?.addEventListener("click", async () => {
      await actions.logout();
      navigate(ROUTER.home.href);
    });
  });
</script>
